<div class="messages-wrapper">
  <mat-tab-group>
    <mat-tab label="Direct">
      <app-chat-card
        name="Gergo"
        last_msg="Sample Messasdfasdfadasdfasdasdffsafsdage From User "
        unread="3"
      ></app-chat-card>
      <app-chat-card
        name="Gergo"
        last_msg="Sample Messasdfasdfadasdfasdasdffsafsdage From User "
        unread=""
        selected="true"
      ></app-chat-card>
    </mat-tab>
    <mat-tab label="Group">
      <div class="group-wrapper"></div>
    </mat-tab>
  </mat-tab-group>
</div>
