@use "../../../../../../../styles/styles.scss" as *;

.action-container {
  padding: $mat-sys-spacing-sm;
  overflow: hidden;
}

.action {
  width: 100%;
  color: $mat-sys-on-surface;
  display: flex;
  gap: $mat-sys-spacing-sm;

  &:hover {
    color: $mat-sys-primary;
  }

  .expand-arrow {
    transition: 0.1s ease;
  }
  cursor: pointer;
  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .option-label-wrapper {
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: $mat-sys-label-large-size;
    font-weight: $mat-sys-label-large-weight;
  }
}

.content {
  transition: 0.2s;
  overflow-y: auto;
}
