@use "../../../../../../../styles/styles.scss" as *;

.action-container {
  padding: $mat-sys-spacing-sm;
  overflow: hidden;
}

.action {
  width: 100%;
  color: $mat-sys-on-surface;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $mat-sys-spacing-sm;
  cursor: pointer;

  &:hover {
    color: $mat-sys-primary;
  }

  .action-left {
    display: flex;
    flex-direction: row;
    gap: $mat-sys-spacing-sm;
  }

  .action-right {
    display: flex;
    justify-content: center;
    .toggle {
      transform: scale(0.7);
    }
  }

  .expand-arrow {
    transition: 0.1s ease;
  }
  .option-label-wrapper {
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: $mat-sys-label-large-size;
    font-weight: $mat-sys-label-large-weight;
  }
}

.content {
  transition: 0.2s;
  overflow-y: auto;
}
