<div class="action-container" mat-ripple>
  <div class="action" (click)="toggle()">
    <div class="icon-wrapper">
      <mat-icon [fontIcon]="fontIcon"></mat-icon>
    </div>
    <div class="option-label-wrapper">{{ label }}</div>
    <div class="spacer"></div>
    <div class="toggle-icon">
      @if (hasContent) {
      <mat-icon
        class="expand-arrow"
        fontIcon="expand_less"
        [style.transform]="'rotate(' + (isExpanded ? 0 : 180) + 'deg)'"
      ></mat-icon>
      }
    </div>
  </div>
  <div
    #content
    class="content"
    [style.maxHeight]="isExpanded ? '100vh' : '0vh'"
  >
    <ng-content></ng-content>
  </div>
</div>
