<main>
  <div class="sidebar">
    <button mat-flat-button color="primary" (click)="authService.logout()">
      Log out
    </button>
    <ul>
      @for (chat of chats$ | async; track $index) {
      <li
        (click)="selectedChatIndex$.next($index)"
        [class.active]="(selectedChatIndex$ | async) === $index"
      >
        <h1>{{ chat.name }}</h1>
        @if (chat.messages.length > 0) {
        <span>{{ chat.messages[0].user.username }}</span>
        <span>{{ chat.messages[chat.messages.length - 1].content }}</span>
        }
      </li>
      }
    </ul>
  </div>
  <div class="content">
    <div class="chat-header">
      <span class="chat-username">
        @if (this.selectedChat$ | async; as selectedChat) {
        {{ selectedChat.name }}
        }
      </span>
    </div>
    <ul #messagesContainer>
      @for (message of (this.selectedChat$ | async)?.messages; track $index) {
      <li
        [class.own-message]="
          message.user.username === authService.user?.username
        "
      >
        <div class="message-header">
          <span class="sender-name">
            {{
              message.user.username === authService.user?.username
                ? ""
                : message.user.username
            }}
          </span>
        </div>
        <div class="message-content">
          <span>{{ message.content }}</span>
        </div>
      </li>
      }
    </ul>
    <div class="message-input">
      <textarea
        matInput
        placeholder="Type your message..."
        [formControl]="messageControl"
        (keydown.enter)="$event.preventDefault(); sendMessage()"
      ></textarea>
      <button
        mat-flat-button
        color="primary"
        (click)="sendMessage()"
        [disabled]="!messageControl.value?.trim()"
      >
        Send
      </button>
    </div>
  </div>
</main>
