<main>
  <div class="sidebar">
    <button mat-flat-button color="primary" (click)="authService.logout()">
      Log out
    </button>
    <ul>
      @for (chatMessage of chatMessages$ | async; track $index) {
      <li
        (click)="selectedChatIndex$.next($index)"
        [class.active]="(selectedChatIndex$ | async) === $index"
      >
        <h1>{{ chatMessage.chat.name }}</h1>
        @if (chatMessage.messages.length > 0) {
        <span>{{ chatMessage.messages[0].username }}: </span>
        <span>{{
          chatMessage.messages[chatMessage.messages.length - 1].content
        }}</span>
        }
      </li>
      }
    </ul>
  </div>
  <div class="content">
    <div class="chat-header">
      <span class="chat-username">
        @if (this.selectedChatContent$ | async; as selectedChatContent) {
        {{ selectedChatContent.chat.name }}
        }
      </span>
    </div>
    <ul #messagesContainer>
      @for (message of (this.selectedChatContent$ | async)?.messages; track
      $index) {
      <li [class.own-message]="message.username === authService.user?.username">
        <div class="message-header">
          <span class="sender-name">
            {{
              message.username === authService.user?.username
                ? ""
                : message.username
            }}
          </span>
        </div>
        <div class="message-content">
          <span>{{ message.content }}</span>
        </div>
      </li>
      }
    </ul>
    <div class="message-input">
      <textarea
        matInput
        placeholder="Type your message..."
        [formControl]="messageControl"
        (keydown.enter)="$event.preventDefault(); sendMessage()"
      ></textarea>
      <button
        mat-flat-button
        color="primary"
        (click)="sendMessage()"
        [disabled]="!messageControl.value?.trim()"
      >
        Send
      </button>
    </div>
  </div>
</main>
