/* You can add global styles to this file, and also import other style files */

@forward "./mat-map.scss";
@use "@angular/material" as mat;
@use "./mat-map.scss" as *;
@use "./themes/t1_theme-colors" as *;
html {
  @include mat.theme(
    (
      color: (
        primary: $primary-palette,
        tertiary: $tertiary-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--mat-sys-surface-container-lowest);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  height: 100%;
}

app-app-layout {
  width: 100%;
  height: 100%;
}
.group-wrapper {
  overflow: scroll;
  height: 100%;
  &.group-wrapper::-webkit-scrollbar {
    display: none;
  }
}
.mat-mdc-tab-body {
  height: 100%;
}

.mat-mdc-tab-group {
  height: 100%;
}
.mat-mdc-tab-body-wrapper {
  height: 100% !important;
}
.tab-outlet {
  overflow: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}
.mat-mdc-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdc-notched-outline__trailing {
  border-radius: 0px $mat-sys-corner-medium $mat-sys-corner-medium 0px !important;
}

.mdc-notched-outline__leading {
  border-radius: $mat-sys-corner-medium 0px 0px $mat-sys-corner-medium !important;
}

.mat-mdc-text-field-wrapper {
  border-radius: $mat-sys-corner-medium !important;
  background-color: $mat-sys-surface-container !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
