<div
  class="card-wrapper"
  [attr.data-unread]="unread"
  [attr.data-selected]="selected"
>
  <div class="image-wrapper">
    <img [src]="(chat?.img)!.data" alt="" />
  </div>
  <div class="text-wrapper">
    <div class="title-wrapper">
      <p class="group_title" [attr.data-unread]="unread">{{ chat?.name }}</p>
    </div>
    <div class="last-msg-wrapper">
      <p class="last-msg" [attr.data-unread]="unread">
        {{ this.lastMessage }}
      </p>
    </div>
  </div>
  <div class="info-wrapper">
    <div class="status-wrapper" [attr.data-status]="status">
      <p class="status">{{ status }}</p>
    </div>
    <div class="unread-wrapper" [attr.data-unread]="unread">
      <div class="unread">{{ unread }}</div>
    </div>
  </div>
</div>
