@use "../../../styles/styles.scss" as *;

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35;
  position: relative;
  width: 100%;

  .search-bar {
    border: none;
    background-color: $mat-sys-surface-container-high;
    border-radius: $mat-sys-corner-small;
    padding: $mat-sys-btn-padding-sm;
    flex-grow: 1;
    color: $mat-sys-on-surface;
    width: 100%;
    height: 100%;

    &:focus {
      border: none;
      outline: none;
    }
  }
}
