@if (this.platform?.platform == "web") {
<div class="settings">
  <app-tab-header Title="Settings"></app-tab-header>
  <div class="settings-container">
    <div class="profile">
      <div class="image-input-wrapper">
        <input
          #imageSelector
          type="file"
          (change)="onImageUpload($event)"
          accept="image/*"
          hidden
          class="image-input"
        />
        <div class="image-selected">
          @if (imgUploaded) {
          <img [src]="img" alt="" />
          <mat-icon
            class="remove-btn"
            fontIcon="close"
            (click)="removeImage()"
          ></mat-icon>
          } @else {
          <img [src]="this.messageService.currentUser?.img?.data" alt="" />
          <mat-icon
            class="remove-btn"
            fontIcon="edit"
            (click)="imageSelector.click()"
          ></mat-icon>
          }
        </div>
      </div>
      <div class="profile-info-form">
        <div class="profile-info">
          <h3 class="username">{{ username$ | async }}</h3>
          <p class="something">Something here</p>
        </div>
        <button mat-fab type="submit" (click)="onProfileImageChange()">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="options">
      <app-group-option-card
        label="Change Password"
        fontIcon="password"
        (activated)="onChangePassword()"
      ></app-group-option-card>
      <app-group-option-card
        type="toggle"
        label="Two-factor authentication"
        fontIcon="lock"
        (activated)="onToggleTwoFactor($event)"
        [(isActivated)]="mfaToggleEnabled"
      >
      </app-group-option-card>
      <app-group-option-card
        label="Delete profile"
        fontIcon="delete"
        (click)="onDeleteProfile()"
      >
      </app-group-option-card>
      <app-group-option-card
        label="Log out"
        fontIcon="logout"
        (click)="onLogout()"
      >
      </app-group-option-card>
    </div>
  </div>
</div>
}
