@use "./../../../../../styles/styles.scss" as *;

:host {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: $mat-sys-component-height-medium;
  display: flex;
  justify-content: center;
}
.navbar-wrapper {
  display: flex;
  min-width: 0;
  width: 100%;
  padding: 8px 8px 10px 8px;
  gap: $mat-sys-spacing-md;
  background-color: $mat-sys-surface-container-low;
  border-radius: 0px 0px $mat-sys-corner-medium $mat-sys-corner-medium;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  box-shadow: $mat-sys-seperator-tp-sm;

  .option-wrapper {
    display: flex;
    min-width: 0;
    flex-direction: column;
    align-items: center;
    gap: $mat-sys-spacing-base;

    // Default styles
    .option-icon {
      width: $mat-sys-component-height-medium;
      padding: 1.5px;
      display: flex;
      min-width: 0;
      align-items: center;
      justify-content: center;

      mat-icon {
        color: $mat-sys-on-surface;
        transform: $mat-sys-icon-scale-medium;
      }
    }

    .option-label {
      color: $mat-sys-on-surface;
      font-size: $mat-sys-label-medium-size;
    }

    // Active state styles
    &.active {
      .option-icon {
        border-radius: $mat-sys-corner-full;
        background-color: $mat-sys-primary;
      }

      .option-label {
        color: $mat-sys-primary;
      }

      .nav-icon {
        color: $mat-sys-on-primary !important; // Your custom color variable
      }
    }
  }
}
