<div class="navbar-wrapper">
  @for (tab of tabs; track $index) {
  <div
    class="option-wrapper"
    [routerLink]="[{ outlets: { home: [tab] } }]"
    routerLinkActive="active"
  >
    <div class="option-icon">
      <mat-icon fontIcon="{{ tab }}" class="nav-icon"></mat-icon>
    </div>
  </div>
  }
  <div class="option-wrapper">
    <div class="option-icon">
      <mat-icon
        fontIcon="menu"
        class="nav-icon"
        [matMenuTriggerFor]="menu"
      ></mat-icon>
    </div>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Dont show Groups</button>
  <button mat-menu-item>Dont show Directs</button>
  <button mat-menu-item>Dont highlight new Messages</button>
</mat-menu>
