@use "../../../styles/styles.scss" as *;
@use "@angular/material" as mat;
.chat-outer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;

  .chat-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    min-width: 0;
    flex-direction: column;
    gap: $mat-sys-spacing-sm;
    min-height: 0;
    min-width: 230px;

    .images-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $mat-sys-spacing-sm;
      flex-wrap: wrap;

      .image-preview {
        height: 100px;
        width: fit-content;
        position: relative;

        img {
          border-radius: $mat-sys-corner-medium;
          height: 100%;
        }

        .remove-btn {
          position: absolute;
          top: 8px;
          right: 8px;
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
          border-radius: 50%;
          cursor: pointer;
          width: 24px;
          height: 24px;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.2s;

          &:hover {
            background-color: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }

    .messages-wrapper {
      width: 100%;
      height: 100%;
      background-color: $mat-sys-surface-container;
      border-radius: $mat-sys-corner-medium;
      overflow-y: scroll;
      scroll-behavior: smooth;
      padding-bottom: $mat-sys-spacing-sm;

      img {
        height: 100px;
        width: fit-content;
      }

      -ms-overflow-style: none; // IE and Edge
      &::-webkit-scrollbar {
        display: none; // Chrome, Safari, Opera
      }

      .no-chat-selected {
        color: $mat-sys-surface-container-lowest;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }

    .input-wrapper {
      height: $mat-sys-component-height;
      display: flex;
      min-width: 0;
      align-items: center;
      flex-shrink: 0;
      gap: $mat-sys-spacing-sm;

      min-width: 0;
      .text-input {
        min-width: 0;
        border-radius: $mat-sys-corner-medium;
        resize: none;
        width: 100%;
        height: 100%;
        outline: transparent;
        font-family: "Roboto";
        background-color: $mat-sys-surface-container;
        border: none;
        color: $mat-sys-on-surface;
        padding: $mat-sys-spacing-sm;
        font-size: $mat-sys-body-medium;
        scrollbar-width: none; // Firefox
        -ms-overflow-style: none; // IE and Edge

        &::-webkit-scrollbar {
          display: none; // Chrome, Safari, Opera
        }
      }

      button {
        border: none;
        background-color: $mat-sys-primary;
        color: $mat-sys-on-primary;
        border-radius: $mat-sys-corner-medium;
        width: $mat-sys-component-height;
        height: $mat-sys-component-height;
        flex-shrink: 0;

        cursor: pointer;
      }

      button:disabled {
        opacity: 0.2;
        cursor: default;
      }
    }
  }
}
