@if (this.platform?.platform == "web") {
<div class="chat-outer-wrapper">
  <div class="chat-wrapper">
    <app-header (detailsStateEvent)="updateDetailsState($event)"></app-header>
    <div class="messages-wrapper">
      @if (this.selectedChat$ | async; as selectedChat) { @for (message of
      selectedChat.messages; track $index) {
      <app-message
        [first]="
          $index === 0 ||
          selectedChat.messages[$index - 1].user !== message.user
        "
        [message]="message"
      ></app-message>
      } } @else {
      <div class="no-chat-selected">
        <h3>No chat selected</h3>
      </div>
      }
    </div>
    @if (imgUploaded) {
    <div class="images-wrapper">
      @for (img of imgs; track $index) {
      <div class="image-preview">
        <img [src]="img" alt="" />
        <mat-icon
          class="remove-btn"
          fontIcon="close"
          (click)="removeImage($index)"
        ></mat-icon>
      </div>
      }
    </div>
    }
    <div class="input-wrapper">
      <div class="text-input-box">
        <div
          (keydown.enter)="sendOnEnter($event)"
          #textInput
          class="text-input"
          contenteditable="true"
        ></div>
      </div>
      <button mat-mini-fab (click)="sendMessage()">
        <mat-icon fontIcon="send"></mat-icon>
      </button>
      <input
        #imageSelector
        type="file"
        (change)="onImageUpload($event)"
        accept="image/*"
        hidden
      />
      <button
        mat-mini-fab
        class="message-button"
        (click)="imageSelector.click()"
      >
        <mat-icon fontIcon="image"></mat-icon>
      </button>
      <button mat-mini-fab class="message-button" disabled>
        <mat-icon fontIcon="microphone"></mat-icon>
      </button>
    </div>
  </div>
  <app-details [detailsStatePreference]="detailsState"></app-details>
</div>

} @else { }
