@use "../../../styles/styles.scss" as *;
@use "@angular/material" as mat;
.chat-outer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;

  .base {
    position: absolute;
    height: 100%;
    z-index: 23;
    right: 0;
  }

  .detail-mobile-wrapper {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    background-color: #000000bb;
    z-index: 23;
    transition: all 0.5 linear;
  }

  .de-focus {
  }

  .de-focus-expanded {
    width: 100%;
    height: 100%;
    transition: all 0.3 linear;
  }

  .chat-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    min-width: 0;
    flex-direction: column;
    min-height: 0;
    min-width: 230px;
    overflow: hidden;

    .images-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $mat-sys-spacing-sm;
      flex-wrap: wrap;

      .image-preview {
        height: 100px;
        width: fit-content;
        position: relative;

        img {
          border-radius: $mat-sys-corner-medium;
          height: 100%;
        }

        .remove-btn {
          position: absolute;
          top: 8px;
          right: 8px;
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
          border-radius: 50%;
          cursor: pointer;
          width: 24px;
          height: 24px;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.2s;

          &:hover {
            background-color: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }

    .messages-wrapper {
      margin-top: $mat-sys-component-height-medium;
      width: 100%;
      height: 100%;
      background-color: $mat-sys-surface-container;
      overflow-y: scroll;
      scroll-behavior: smooth;
      padding-bottom: $mat-sys-spacing-sm;

      img {
        height: 100px;
        width: fit-content;
      }

      -ms-overflow-style: none; // IE and Edge
      &::-webkit-scrollbar {
        display: none; // Chrome, Safari, Opera
      }

      .no-chat-selected {
        color: $mat-sys-surface-container-lowest;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }

    .input-wrapper {
      box-shadow: $mat-sys-seperator-tp-sm;
      display: flex;
      min-width: 0;
      min-height: $mat-sys-component-height-medium;
      align-items: center;
      flex-shrink: 0;
      gap: $mat-sys-spacing-sm;
      background-color: $mat-sys-surface-container-low;
      border-radius: 0px 0px $mat-sys-corner-medium $mat-sys-corner-medium;
      padding: $mat-sys-spacing-sm;

      button {
        width: 35px;
        height: 35px;

        mat-icon {
          transform: $mat-sys-icon-scale-medium;
        }
      }

      .text-input-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $mat-sys-surface-container-high;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none; // Firefox
        -ms-overflow-style: none; // IE and Edge
        max-height: 200px;
        min-height: 35px;
        padding: $mat-sys-spacing-sm $mat-sys-spacing-md;
        border-radius: $mat-sys-corner-medium;
        position: relative;

        &::-webkit-scrollbar {
          display: none; // Chrome, Safari, Opera
        }
        .text-input {
          resize: none;
          color: $mat-sys-on-surface;
          width: 100%;
          outline: transparent;
          font-size: $mat-sys-body-medium;
        }
      }

      .placeholder {
        position: relative;

        &::before {
          content: "type a message...";
          width: 100%;
          font-size: $mat-sys-label-medium-size;
          color: grey;
          font-weight: 400;
          letter-spacing: 0.5px;
          cursor: text;
          position: absolute;
          pointer-events: none;
          left: $mat-sys-spacing-md;
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.mobile-rounding {
  border-radius: 0px !important;
}

.no-chat-selected {
  h3 {
    color: $mat-sys-on-surface;
  }
}

mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
