@if (this.platform?.platform == "web") {
<div class="chat-wrapper">
  <app-header></app-header>
  <div class="messages-wrapper">
    <app-message
      msg="asdasdfasdfasd;lfkja;sdklfja;sdlfkja;sdklfja;sdlfkja;sdklfjaichkaj;sdklfja;sdlfkja;sdlkfjqpwoeirupqoweiurpqwoeiruqpwoerjl;sdkfja;askdlfja;lsdkfja;sdlfkja;sdflkja;sdlfkja;sdflkajsd;fkljasd;flkajsd;fljasdfkjqweoiruqpowieruqpowiejfpawosdklfnmopfivnsdklfjgnbldkfjgdbnmlcvjkmbndlcjkvbmjnxlv,mh jbnxlckvbmnxlcvm,nbx,mcvnb.xm,cvnhbx.,cmfghnblkxj,chvbnxkcj,vbhnxkcvjhnbdxcklvj,ghmnxckvghj,nxdclfjgvhjbnxlfcj,hmgnslxcjkfvhnx.klfj,ghnxkcfjg,nbxkcjlvh,gbnxckfjlh,gxcjklfgn,kxchjvnxcgjvbnjkjnklhjkhjklhjklnjnm,lkhjnljnl,jnl,jnm,jnkml,sdfgjklsfgjnklnml,nml,nml,nml,nml,sdfghjklsdfghjklsdfghjkldfgshjklsdfghjklsdfghjklsdfghjklsdfgklhjsdfghjklsdfghjklsdfghjklsdfgklhjfasdl;jkas;slkdfjjjjjsldkfjapsldkfjpqwoeiru;lsdkfja;sdluf"
      first="true"
    ></app-message>
    <app-message
      msg="asdasdkfj;alsdkfj;asldkfj;asdlkfja;sdklfja;sdlkfja;sdlfkja;sdklfja;sdlfkja;sdlfkja;sdlkfja;sdlkfja;sdlkfja;sdlfkja;sdlkfja;sdlkfja;sdlfkja;sdlkfja;sdlkfja;sdlkjasd"
    ></app-message>
    <app-message
      msg="loreseirjASIDJ OASJDOAasdfasdfasSJDOASDOIAJSODI AJSDOI JASD OIAJS DOIASJ D"
    ></app-message>
    <app-message
      msg="asdm ipszum CoDASDKasdfalksdjf;alksdfj;aklsdfjas;ldfkja;sdlkfja;sdklfja;sdlkfja;sdlkfja;skldjf;sldkfja;sdlkfja;sdlfkjqpweoiruqdklajsdiofujqwal;skdfhjaklsdfj;aklsdfja;skldfja;lsdkfja;sldfkjapseoiruqpwoeiruqpweoriu;asdklfjqpwoierupqowieurpa;skldfjpoqweiruapskldfjawioperujs;adilfjqwpioerjasdifuqawpeorijfaw0pefiojapsoeifjapwoefjqpwoeifjqpwoeifjqwpeofijqpweofijqpweofijqpweofijqpweoifjqpwoeifjqpwoeifjieieielkfajsdfioqweupjroiwdjfapowasd"
      first="true"
      sender="Igenjo"
    ></app-message>
    <app-message msg="asdasd" sender="igenjo"></app-message>
    <app-message
      msg="lorem ipszum CoDASDKASIDJasdfjioasdm ipszum CoDASDKasdfalksdjf;alksdfj;aklsdfjas;ldfkja;sdlkfja;sdklfja;sdlkfja;sdlkfja;skldjf;sldkfja;sdlkfja;sdlfkjqpweoiruqdklajsdiofujqwal;skdfhjaklsdfj;aklsdfja;skldfja;lsdkfja;sldfkjapseoiruqpwoeiruqpweoriu;asdklfjqpwoierupqowieurpa;skldfjpoqweiruapskldfjawioperujs;adilfjqwpioerjasdifuqawpeorijfaw0pefiojapsoeifjapwoefjqpwoeifjqpwoeifjqwpeofijqpweofijqpweofijqpweofijqpweoifjqpwoeifjqpwoeifjieieielkfajsdfioqweupjroiwdjfapowofiuasdfa OASJDOASJDOASDOIAJSODI AJSDOI JASD OIAJS DOIASJ D"
      sender="igenjo"
    ></app-message>
    <app-message msg="asdasd" first="true"></app-message>
    <app-message msg="asdasd"></app-message>
    <app-message
      msg="lorem ipszum CoDASDKASIDJ OASJDOASJDOASDOIAJSODI AJSDOI JASD OIAJS DOIASJ D"
    ></app-message>
    <app-message msg="asdasd" first="true" sender="Igenjo"></app-message>
    <app-message msg="asdasd" sender="igenjo"></app-message>
    <app-message
      msg="lorem ipszum CoDASDKASIDJ OASJDOASJDOASDOIAJSODI AJSDOI JASD OIAJS DOIASJ D"
      sender="igenjo"
    ></app-message>
    <app-message msg="asdasd" first="true"></app-message>
    <app-message msg="asdasd"></app-message>
    <app-message
      msg="lorem ipszum CoDASDKASIDJ OASJDOASJDOASDOIAJSODI AJSDOI JASD OIAJS DOIASJ D"
    ></app-message>
    <app-message msg="asdasd" first="true" sender="Igenjo"></app-message>
    <app-message msg="asdasd" sender="igenjo"></app-message>
    <app-message
      msg="lorem ipszum CoDASDKASIDJ OASJDOASJDOASDOIAJSODI AJSDOI JASD OIAJS DOIASJ D"
      sender="igenjo"
    ></app-message>
    <app-message msg="asdasd" first="true"></app-message>
    <app-message msg="asdasd"></app-message>
    <app-message
      msg="lorem ipszum CoDASDKASIDJ OASJDOASJDOASDOIAJSODI AJSDOI JASD OIAJS DOIASJ D"
    ></app-message>
    <app-message msg="asdasd" first="true" sender="Igenjo"></app-message>
    <app-message msg="asdasd" sender="igenjo"></app-message>
    <app-message
      msg="lorem ipszum CoDASDKASIDJ OASJDOASJDOASDOIAJSODI AJSDOI JASD OIAJS DOIASJ D"
      sender="igenjo"
    ></app-message>
    <app-message msg="asdasd" first="true"></app-message>
    <app-message msg="asdasd"></app-message>
    <app-message
      msg="lorem ipszum CoDASDKASIDJ OASJDOASJDOASDOIAJSODI AJSDOI JASD OIAJS DOIASJ D"
    ></app-message>
    <app-message msg="asdasd" first="true" sender="Igenjo"></app-message>
    <app-message msg="asdasd" sender="igenjo"></app-message>
    <app-message
      msg="lorem ipszum CoDASDKASIDJ OASJDOASJDOASDOIAJSODI AJSDOI JASD OIAJS DOIASJ D"
      sender="igenjo"
    ></app-message>
    <app-message msg="asdasd" first="true"></app-message>
    <app-message msg="asdasd"></app-message>
    <app-message
      msg="lorem ipszum CoDASDKASIDJ OASJDOASJDOASDOIAJSODI AJSDOI JASD OIAJS DOIASJ D"
    ></app-message>
    <app-message msg="asdasd" first="true" sender="Igenjo"></app-message>
    <app-message msg="asdasd" sender="igenjo"></app-message>
    <app-message
      msg="lorem ipszum CoDASDKASIDJ OASJDOASJDOASDOIAJSODI AJSDOI JASD OIAJS DOIASJ D"
      sender="igenjo"
    ></app-message>
  </div>
  <div class="input-wrapper">
    <textarea name="message" class="text-input"></textarea>
    <button class="message-button">
      <mat-icon fontIcon="send"></mat-icon>
    </button>
    <button class="message-button" disabled>
      <mat-icon fontIcon="image"></mat-icon>
    </button>
    <button class="message-button" disabled>
      <mat-icon fontIcon="microphone"></mat-icon>
    </button>
  </div>
</div>

} @else { "this is the mobile type stuff" }
