@use "../../../styles/styles.scss" as *;
@use "@angular/material" as mat;
.chat-outer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;

  .chat-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    min-width: 0;
    flex-direction: column;
    min-height: 0;
    min-width: 230px;

    .messages-wrapper {
      width: 100%;
      height: 100%;
      background-color: $mat-sys-surface-container;
      overflow-y: scroll;
      scroll-behavior: smooth;
      padding-bottom: $mat-sys-spacing-sm;

      -ms-overflow-style: none; // IE and Edge
      &::-webkit-scrollbar {
        display: none; // Chrome, Safari, Opera
      }
    }

    .input-wrapper {
      display: flex;
      min-width: 0;
      height: 45px;
      align-items: center;
      flex-shrink: 0;
      gap: $mat-sys-spacing-sm;
      background-color: $mat-sys-surface-container;
      border-radius: 0px 0px $mat-sys-corner-medium $mat-sys-corner-medium;
      .text-input-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $mat-sys-surface-container;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none; // Firefox
        -ms-overflow-style: none; // IE and Edge
        max-height: 200px;
        min-height: 40px;
        padding: $mat-sys-spacing-sm;
        border-radius: $mat-sys-corner-medium;

        &::-webkit-scrollbar {
          display: none; // Chrome, Safari, Opera
        }
        .text-input {
          resize: none;
          color: $mat-sys-on-surface;
          width: 100%;
          outline: transparent;
          font-size: $mat-sys-body-medium;
        }
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
