@use "./../../../styles/styles.scss" as *;

.home-desktop-wrapper {
  display: flex;
  min-width: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: $mat-sys-spacing-sm;

  .tab-outlet {
    height: 100%;
    color: $mat-sys-on-surface;
  }
}

.home-mobile-wrapper {
  height: 100%;

  .tab-outlet {
    height: 100%;
    color: $mat-sys-on-surface;
  }
}
