<mat-card id="auth-card">
  <mat-card-header>
    <h3>{{ promptText }}</h3>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" data-cy="username-input" />
        <mat-error data-cy="username-error">
          @if (loginForm.controls.username.hasError('required')) { Username
          field is required } @else if
          (loginForm.controls.username.hasError('minlength')) { Username has to
          be at least 8 characters long }@else if
          (loginForm.controls.username.hasError('pattern')) {Username can only
          contain letters, numbers, underscores, and dashes}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="!showPassord ? 'password' : 'text'"
          formControlName="password"
          data-cy="password-input"
        />
        <mat-error data-cy="password-error">
          @if (loginForm.controls.password.hasError('required')) { Password
          field is required } @else if
          (loginForm.controls.password.hasError('minlength')) { Password has to
          be at least 8 characters long }@else if
          (loginForm.controls.password.hasError('passwordStrength')) {
          {{loginForm.controls.password.errors?.["passwordStrength"]}}
          }
        </mat-error>
        <button
          mat-icon-button
          matSuffix
          (click)="toggleShowPassword($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="!showPassord"
          type="button"
          data-cy="toggle-password-button"
        >
          <mat-icon>{{
            !showPassord ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="button-container">
        <button
          mat-flat-button
          [disabled]="!loginForm.valid"
          type="submit"
          data-cy="submit-button"
        >
          {{ promptText }}
        </button>
        <button
          mat-button
          (click)="togglePromptText($event)"
          type="button"
          data-cy="toggle-signin-button"
        >
          {{ signIn ? "Don't have an account?" : "Have an account?" }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
