@if (this.platform?.platform == "web") {
<div class="card-wrapper">
  <div id="auth-card">
    <div class="header-wrapper">
      <h3 class="header">{{ promptText }}</h3>
    </div>
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field appearance="outline" id="usernameField">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" data-cy="username-input" />
          <mat-error data-cy="username-error">
            @if (loginForm.controls.username.hasError('required')) { Username
            field is required } @else if
            (loginForm.controls.username.hasError('minlength')) { Username has
            to be at least 8 characters long }@else if
            (loginForm.controls.username.hasError('pattern')) {Username can only
            contain letters, numbers, underscores, and dashes}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" id="passwordField">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="!showPassord ? 'password' : 'text'"
            formControlName="password"
            data-cy="password-input"
          />
          <mat-error data-cy="password-error">
            @if (loginForm.controls.password.hasError('required')) { Password
            field is required } @else if
            (loginForm.controls.password.hasError('minlength')) { Password has
            to be at least 8 characters long }@else if
            (loginForm.controls.password.hasError('passwordStrength')) {
            {{loginForm.controls.password.errors?.["passwordStrength"]}}
            }
          </mat-error>
          <button
            mat-icon-button
            matSuffix
            (click)="toggleShowPassword($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="!showPassord"
            type="button"
            data-cy="toggle-password-button"
          >
            <mat-icon>{{
              !showPassord ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        @if (!signIn) {
        <mat-checkbox
          [checked]="mfaEnabled"
          (change)="mfaEnabled = !mfaEnabled"
        >
          Enable 2 factor authentication
        </mat-checkbox>
        }
        <div class="button-container">
          <button
            mat-flat-button
            [disabled]="!loginForm.valid"
            type="submit"
            data-cy="submit-button"
          >
            {{ promptText }}
          </button>
          <button
            mat-button
            (click)="togglePromptText($event)"
            type="button"
            data-cy="toggle-signin-button"
          >
            {{ signIn ? "Don't have an account?" : "Have an account?" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
} @else {
<div class="card-wrapper-mobile">
  <div class="header-wrapper-mobile">
    <h3 class="header">{{ promptText }}</h3>
  </div>
  <div class="auth-card-mobile">
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field appearance="outline" id="usernameField">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" data-cy="username-input" />
          <mat-error data-cy="username-error">
            @if (loginForm.controls.username.hasError('required')) { Username
            field is required } @else if
            (loginForm.controls.username.hasError('minlength')) { Username has
            to be at least 8 characters long }@else if
            (loginForm.controls.username.hasError('pattern')) {Username can only
            contain letters, numbers, underscores, and dashes}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" id="passwordField">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="!showPassord ? 'password' : 'text'"
            formControlName="password"
            data-cy="password-input"
          />
          <mat-error data-cy="password-error">
            @if (loginForm.controls.password.hasError('required')) { Password
            field is required } @else if
            (loginForm.controls.password.hasError('minlength')) { Password has
            to be at least 8 characters long }@else if
            (loginForm.controls.password.hasError('passwordStrength')) {
            {{loginForm.controls.password.errors?.["passwordStrength"]}}
            }
          </mat-error>
          <button
            mat-icon-button
            matSuffix
            (click)="toggleShowPassword($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="!showPassord"
            type="button"
            data-cy="toggle-password-button"
          >
            <mat-icon>{{
              !showPassord ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        @if (!signIn) {
        <mat-checkbox
          [checked]="mfaEnabled"
          (change)="mfaEnabled = !mfaEnabled"
        >
          Enable 2 factor authentication
        </mat-checkbox>
        }
        <div class="button-container">
          <button
            mat-flat-button
            [disabled]="!loginForm.valid"
            type="submit"
            data-cy="submit-button"
          >
            {{ promptText }}
          </button>
          <button
            mat-button
            (click)="togglePromptText($event)"
            type="button"
            data-cy="toggle-signin-button"
          >
            {{ signIn ? "Don't have an account?" : "Have an account?" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
}
