<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="email">Email:</label>
  <input id="email" formControlName="email" type="email">
  <div *ngIf="loginForm.controls.email?.invalid && loginForm.controls.email?.touched">
    Valid email is required.
  </div>

  <label for="password">Password:</label>
  <input id="password" formControlName="password" type="password">
  <div *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched">
    Password must be at least 6 characters.
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
</form> -->

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="username">Email:</label>
  <input id="username" formControlName="username" type="username">

  <label for="password">Password:</label>
  <input id="password" formControlName="password" type="password">

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
  @if (errorMessage) {
    <div>{{ errorMessage }}</div> 
  }
</form>