<div
  class="message-wrapper"
  [style.flexDirection]="sender ? 'row-reverse' : 'row'"
>
  <div class="message-options" [class.has-text-above]="sender">
    <div class="option pin" [class.active]="pinned">
      <mat-icon fontIcon="push_pin"></mat-icon>
    </div>
  </div>
  <div class="message-bubble-wrapper">
    @if (first) {
    <div class="profile-name">
      {{ sender }}
    </div>
    }
    <div class="message-bubble">
      {{ msg }}
    </div>
  </div>
  <div class="message-profile-wrapper">
    @if (first) {
    <div class="profile-image" [class.has-text-above]="sender"></div>
    }
  </div>
</div>
