<div
  class="message-wrapper"
  [style.flexDirection]="
    ownMessage && displayedIn == 'Chat' ? 'row' : 'row-reverse'
  "
>
  @if (displayedIn == "Chat") {
  <div
    class="message-options"
    [class.has-text-above]="first && message.user.username"
  >
    <div
      class="option pin"
      [class.active]="message.pinned"
      (click)="togglePinMessage()"
    >
      <mat-icon fontIcon="push_pin"></mat-icon>
    </div>
  </div>
  }
  <div class="message-bubble-wrapper">
    @if (first) {
    <div class="profile-name">
      {{
        !ownMessage || displayedIn == "PinnedMessages"
          ? message.user.username
          : ""
      }}
    </div>
    }
    <div
      class="message-bubble"
      [class.image]="message.type == 'IMAGE'"
      [class.text]="message.type == 'TEXT'"
    >
      @if (message.type == "IMAGE") {
      <img [src]="message.content" alt="" />
      } @else {
      {{ message.content }}
      }
    </div>
  </div>
  <div class="message-profile-wrapper">
    @if (first) {
    <img
      [src]="imgURL"
      class="profile-image"
      [class.has-text-above]="message.user.username"
    />
    }
  </div>
</div>
