@use "../../../../../styles/styles.scss" as *;

.message-wrapper[data-first="true"] {
  padding: $mat-sys-spacing-sm $mat-sys-spacing-sm 0 $mat-sys-spacing-sm;
}

.message-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: calc(#{$mat-sys-spacing-sm} / 2);
  padding: calc(#{$mat-sys-spacing-sm} / 4) $mat-sys-spacing-sm 0
    $mat-sys-spacing-sm;
  color: $mat-sys-on-surface;

  .has-text-above {
    margin-top: $mat-sys-body-medium-line-height;
  }

  .message-bubble-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .profile-name {
      padding-left: $mat-sys-spacing-md;
      font: $mat-sys-label-large-font;
      font-size: $mat-sys-label-medium-size;
      font-weight: $mat-sys-label-large-weight;
      line-height: $mat-sys-label-large-line-height;
      height: $mat-sys-label-large-line-height;
      letter-spacing: $mat-sys-label-large-tracking;
    }

    .message-bubble {
      background-color: $mat-sys-surface-variant;
      border-radius: calc($mat-sys-img-profile-medium / 2);
      max-width: 580px;
      min-height: $mat-sys-img-profile-medium;
      font: $mat-sys-body-medium-font;
      font-size: $mat-sys-body-medium-size;
      line-height: $mat-sys-body-medium-line-height;
      letter-spacing: $mat-sys-body-medium-tracking;
      flex-shrink: 1;
      word-wrap: break-word;
      word-wrap: wrap;
      color: $mat-sys-on-surface-variant;
      display: flex;
      align-items: center;
      justify-content: center;

      &.text {
        padding: $mat-sys-spacing-sm $mat-sys-spacing-md;
      }

      &.image {
        padding: 0;
      }

      img {
        height: 150px;
        width: fit-content;
        border-radius: $mat-sys-corner-medium;
      }
    }
  }

  .message-profile-wrapper {
    display: flex;
    align-items: start;
    flex-shrink: 0;
    width: $mat-sys-img-profile-medium;

    .profile-image {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: $mat-sys-corner-full;
      background-color: $mat-sys-primary-container;
    }
  }

  .message-options {
    display: flex;
    align-items: center;
  }

  .option {
    margin: 0 $mat-sys-spacing-sm;
    height: calc($mat-sys-body-medium-line-height + $mat-sys-spacing-sm * 2);
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.05s ease;
    color: $mat-sys-on-background;

    &:hover {
      background-color: $mat-sys-surface-container-high;
    }

    &.active {
      opacity: 1;
      color: $mat-sys-primary;
    }
  }

  &:hover .option {
    opacity: 1;
  }
}
