@use "../../../../../../../styles/styles.scss" as *;

.gdswitch-wrapper {
  width: 100%;
  height: 65px;
  background-color: $mat-sys-surface-container-high;
  border-radius: $mat-sys-corner-medium $mat-sys-corner-medium 0 0;
  display: flex;
  min-width: 0;
  align-items: center;
  justify-content: space-around;
  padding: $mat-sys-spacing-sm;

  .placeholder1 {
    border-radius: $mat-sys-corner-full;
    width: 60px;
    aspect-ratio: 1/1;
  }

  .placeholder2 {
    border-radius: $mat-sys-corner-full;
    width: 60px;
    aspect-ratio: 1/1;
  }

  .switch-wrapper {
    width: 100%;
    display: flex;
    min-width: 0;
    align-items: center;
    justify-content: center;

    .switch-inner-wrapper {
      display: flex;
      min-width: 0;
      width: fit-content;
      align-items: center;
      justify-content: center;
      color: $mat-sys-on-surface;
      border-radius: $mat-sys-corner-full;
      background-color: $mat-sys-surface-container;
      padding: $mat-sys-spacing-md $mat-sys-spacing-xl;
      gap: $mat-sys-spacing-xl;
    }
  }
}
