@use "../../../../../styles/styles.scss" as *;
:host {
  position: relative;
}
.header-wrapper {
  box-shadow: $mat-sys-seperator-btm-sm;
  position: absolute;
  height: $mat-sys-component-height-medium;
  border-radius: $mat-sys-corner-medium $mat-sys-corner-medium 0px 0px;
  background-color: $mat-sys-surface-container-low;
  width: 100%;
  display: flex;
  min-width: 0;
  align-items: center;
  padding: $mat-sys-spacing-sm $mat-sys-spacing-sm;
  gap: $mat-sys-spacing-sm;
  color: $mat-sys-on-surface;
  min-width: 0;
  .title-wrapper {
    min-width: 0;
    display: flex;
    min-width: 0;
    align-items: center;
    gap: $mat-sys-spacing-sm;
    width: 100%;
    .image {
      background-color: $mat-sys-primary-container;
      width: $mat-sys-img-profile-medium;
      aspect-ratio: 1/1;
      border-radius: $mat-sys-corner-full;
    }
    .title {
      font-size: $mat-sys-title-large-size;
    }
  }

  .details {
    cursor: pointer;
  }
}
