@if (this.platform?.platform == "web") {
<div class="header-wrapper">
  <div class="title-wrapper">
    <div class="image"></div>
    <div class="title">
      @if (this.selectedChat$ | async; as selectedChat) {
      {{ selectedChat.name }}
      }
    </div>
  </div>

  <button
    class="details"
    (click)="openDetails()"
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</div>
} @else { "this is mobile stuff" }
