@if (this.platform?.platform == "web") {
<div class="header-wrapper">
  <div class="title-wrapper">
    <div class="image"></div>
    <div class="title">Gaming Lowers</div>
  </div>
  <div class="details" (click)="openDetails()">
    <mat-icon fontIcon="more_vert"></mat-icon>
  </div>
</div>

} @else {
<div class="header-wrapper">
  <mat-icon fontIcon="arrow_back_ios"></mat-icon>
  <div class="title-wrapper">
    <div class="image"></div>
    <div class="title">Gaming Lowers</div>
  </div>
  <div class="details" (click)="openDetails()">
    <mat-icon fontIcon="more_vert"></mat-icon>
  </div>
</div>

}
