/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@import "./styles/t4_theme-colors";

html {
  @include mat.theme(
    (
      color: (
        primary: $primary-palette,
        tertiary: $tertiary-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--mat-sys-background);
  }
}

html,
body {
  height: 100%;
}
