@use "../../../../../styles/styles.scss" as *;

.add {
  width: 100%;
  height: 100%;
  border-radius: $mat-sys-corner-medium $mat-sys-corner-medium 0px 0px;
  background-color: $mat-sys-surface-container;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  position: relative;
}
