<div class="details-wrapper" [attr.data-state]="state">
  <div class="inner-wrapper">
    <div class="group-action-wrapper">
      <app-group-option-card fontIcon="group" label="Members" type="expand">
        <div class="group-members-wrapper">
          @for (chatMember of (messageService.selectedChat$ | async)?.users;
          track $index) {
          <app-group-member-card
            [name]="chatMember.username"
          ></app-group-member-card>
          }
        </div>
      </app-group-option-card>
      <app-group-option-card
        fontIcon="add"
        label="Add member"
        type="expand"
        (expanded)="onAddMemberClick()"
      >
        <p>{{ invitationId }}</p>
        <!-- This is weird, if the botton element is a button, it has to have a bottom margin of 4px (or higher), or a scrollbar will appear -->
        <button mat-flat-button [style.margin-bottom]="'4px'">
          Implement stuff here
        </button>
      </app-group-option-card>
      <app-group-option-card
        fontIcon="push_pin"
        label="Pinned messages"
        type="toggle"
      >
      </app-group-option-card>
      <app-group-option-card
        fontIcon="logout"
        label="Leave chat"
        (click)="onLeaveChat()"
      >
      </app-group-option-card>
    </div>
  </div>
</div>
